@tailwind base;
@tailwind components;
@tailwind utilities;


.purple_btn {
    @apply rounded-xl border border-primary-color bg-primary-color py-2 px-4 text-white transition-all hover:bg-white hover:text-primary-color text-center text-sm font-dmsans flex items-center justify-center;
}

.three_bar {
    @apply flex h-6 items-center cursor-pointer relative gap-1 flex-col;
    
}

.bar {
    @apply bg-primary-color h-[3px] w-7 rounded-[4px] transition duration-200;
}

.bar_after {
    transform: translate3d(0,-8px,0) rotate(135deg);
}

.bar_before {
    transform: translate3d(0,6px,0) rotate(45deg);
}

.light_primary_color {
    background: linear-gradient(230.1deg, #f4f8fe 20.13%,#f4f8fe 76.45%);
}
